*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
.container {
    display: flex;
    padding: 20px;
    justify-content: center;
    
}

.left-side p {
    margin: 10px 0 10px 0;
}
.left-side {
    margin-right: 30px;
}
.right-side {
    width: 500px;
}
.right-side h4 {
    margin-top: 30px;
    margin-bottom: 12px;
}
.right-side ul li {
    margin-left: 40px;
    margin-bottom: 3px;
}
.right-side h4:first-of-type {
    margin-top: 0;
}
.resume-img {
    width:140px;
    border-radius: 5px;
}